*{
margin:0px;
padding: 0px;
}
html,body{
	margin:0px auto;
	padding:0px;
	background-color:black;
	color:white;
	font-size: 24px;
}
body{
	text-align: center;
	
}
h1{
font-family: 'Montserrat', sans-serif;
color:red;
}
p{
	font-family: 'Raleway', sans-serif;\	
}
a{
	color:white;
	text-decoration: none;
}
/* OUR FONTS
* font-family: 'Montserrat', sans-serif;
* font-family: 'Raleway', sans-serif;
*
*/
nav{
	font-family: 'Montserrat', sans-serif;
}
.pageLinks li a{
	text-decoration: none;
	width:100%;
	font-size: 32px;
	
}
.pageLinks{
	display: block;
	border: 1px solid red;
	height:40px;
	line-height: 40px;
}
.small{
	font-size: 16px;
}
.medium{
	font-size: 24px;
}
.large{
	font-size: 32px;
}
#photo{
	border-radius:15px;
 max-height:100%;
  max-width: 100%;
}
#photoContainer{
	margin:10px;
}