*{
margin:0px;
padding: 0px;
}
/* 
* OUR FONTS
* font-family: 'Montserrat', sans-serif;
* font-family: 'Raleway', sans-serif;
*/
html,body{
	margin:0px auto;
	padding:0px;
	background-color:black;
	color:white;
	font-size: 24px;
}
body{
	text-align: center;
}
h1,h2,h3,h4,h5,h6{
font-family: 'Montserrat', sans-serif;
}
h1{
	color:red;
}
h2{
	color:white;
}
p{
	font-family: 'Raleway', sans-serif;
	margin: 20px;	
}
a{
	color:white;
	text-decoration: none;
}
.small{
	font-size: 16px;
}
.medium{
	font-size: 24px;
}
.large{
	font-size: 32px;
}
#photo{
	border-radius:20px;
 max-height:50%;
  max-width: 50%;
}
#photoContainer{
	margin:10px;
	margin-bottom: 10px;
}
#main{
	margin:10px;
}
#footer{
	background-color:grey;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 25px;
    margin:0px auto;
}
.sidenav a {

    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
nav{
	font-family: 'Montserrat', sans-serif;
}
.navigationLinks li a{
	text-decoration: none;
	width:100%;
	font-size: 24px;
}
.pageLinks{
	height:40px;
	line-height: 40px;
	margin: 10px;
}
#logo{
display: block;
margin:10px;
width:100px;
height:100px;
opacity:1; 
transition: opacity .5s;
}
#logo:hover{
opacity:.75;
}
.footerList{
	display: inline-block;
	font-family: 'Raleway', sans-serif;	
	color:white;
	
}
.footerList:hover a{
	color:red;
	transition: color 1s;
}